body {
  margin:0;
  padding:0;
  font-family: 'Playfair Display', sans-serif;
  color: #404040;
}

a {
  color: #000000;
}

.background-white {
  background: #ffffff;
}

.background-black {
  background: #000000;
}

footer {
  color: #818181;
}

.flexbox-container {
  display: flex;
}

header .header-logo {
  font-size: 40px;
}

header .left-section {
  width: 24%;
}

header .right-section {
  flex-grow: 1;
}

header .right-section .header-top, header .right-section .header-bottom {
  text-align: right;
  padding: 5px;
}

.header-top a, .header-bottom a, .header-top div, .header-bottom div {
  padding-left: 20px;
  color: #000000;
  text-transform: uppercase;
}

.header-top > * {
  display: inline-block;
}

.featured-action {
  position: absolute;
  top: 23%;
  left: 18%
}

.featured-action .tag {
  background: #8080808C;
  color: #fff;
  padding: 0px 20px;
  text-transform: uppercase;
}

.featured-action .tag.title {
  font-size: 70px;
  font-weight: bold;
  display: table;
}

.featured-action .tag.low-title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  display: table;
}

.featured-action-btn {
  position: absolute;
  top: 82%;
  right: 18%;
  padding: 15px 30px;
  background-color: #fff;
}

.card-block {
  margin: 100px 0px;
}

.card-block .title {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.card-item-wrapper {
  flex-grow: 1;
  width: 25%;
  padding: 0px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card-item-wrapper .image {
  width: 100%;
  height: 300px;
  background-position: 50% !important;
  background-size: contain !important;
}

.card-item-wrapper .tags {
  position: relative;
}

.card-item-wrapper .tags .brand, .card-item-wrapper .tags .name, .card-item-wrapper .tags .price {
  text-align: center;
  margin: 5px;
}

.card-item-wrapper .tags .brand {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
}

.card-item-wrapper .tags .name {
  font-size: 20px;
  font-weight: bold;
  height: 100px;
}

.card-item-wrapper .tags .price {
  font-size: 20px;
  height: 30px
}

.card-item-wrapper .actions {
  display: flex;
  padding: 15px 0px
}

.card-item-wrapper .actions .button-wrapper:first-child {
  flex-grow: 1;
  padding-right: 10px;
}

.add-to-cart-link, .bag-link, .card-link {
  width: 100%;
  border: 1px solid #d3d3d3;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  background: #ffffff;
  cursor: pointer;
}

.home-promotion-img {
  padding: 50px;
}

.home-promotion .tag {
  background: #8080808C;
  color: #fff;
  padding: 0px 20px;
  text-transform: uppercase;
}

.home-promotion .tag.title {
  font-size: 60px;
  font-weight: bold;
  display: table;
  margin: 20px auto;
}

.home-promotion .tag.low-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  display: table;
}

.home-promotion .my-link a {
  margin: 120px auto 10px;
  padding: 15px 30px;
  background-color: #fff;
}

.link-default {
  display: table;
}

.footer-wrapper {
  display: flex;
  padding-bottom: 50px;
}

.footer-wrapper .title {
  font-size: 20px;
  margin: 20px 0px;
}

.footer-wrapper .left-section {
  flex-grow: 1;
}

.footer-wrapper .business-info {
  flex-wrap: wrap;
  display: flex;
  padding-top: 70px;
}

.footer-wrapper .business-info .tag {
  flex-grow: 1;
  width: 50%;
  margin-bottom: 20px;
  position: relative; 
}

.footer-wrapper .business-info .icon {
  font-size: 26px;
  position: absolute;
  top: 10px;
}

.footer-wrapper .business-info .info {
  padding-left: 40px;
}

.footer-wrapper .links-info  {
  display: flex;
  padding-top: 70px;
}

.footer-wrapper .links-info .link {
  padding: 3px 0px;
}

.footer-wrapper .links-info .left-section {
  width: 250px;
}

.page-container {
  min-height: 700px;
}

.login-page-wrapper, .register-page-wrapper {
  padding-top: 100px;
}

.register-login-container {
  display: flex;
  padding: 30px;
  height: 400px;
}

.register-login-container .login-title, .register-login-container .register-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px
}

.register-login-container .login-title {
  font-size: 40px;
}

.register-login-container .register-title {
  font-size: 30px;
}

.register-login-container .left-section, .register-login-container .right-section {
  flex-grow: 1;
  width: 50%;
}

.register-login-container .left-section {
  margin: 0px 10px;
}

.register-login-container .right-section {
  margin: 0px 50px;
}

.signin-wrapper .login-btn-wrapper, .register-wrapper .register-btn-wrapper {
  margin: 20px 0px 10px;
  text-align: center;
}

.signin-wrapper .my-link .link-default {
  margin: 20px auto;
}

.error-label {
  color: #d50000;
}